.collectors-edition {
  position: relative;
  width: 100%;
  height: 46.5vw;
  max-height: 892px;
  overflow: hidden;

  // background image
  &__background {
    position: absolute;
    display: flex;
    width: 100%;
  }

  // side and bottom layers
  &__layer_left,
  &__layer_right,
  &__layer_bottom {
    position: absolute;
    mix-blend-mode: multiply;
  }

  &__layer {
    &_left {
      left: 0;
      width: 25%;
    }

    &_right {
      right: 0;
      width: 25%;
    }

    &_bottom {
      bottom: 0;
      height: 20vw;
    }
  }

  // characters
  &__mafia-costume {
    &_left {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30vw;
      max-width: 576px; // for 1920px
      height: 45.6vw;
      max-height: 875.5px; // for 1920px
    }

    &_right {
      position: absolute;
      right: 1.33%;
      bottom: 0;
      width: 35.2vw;
      max-width: 675.8px; // for 1920px
      height: 45.6vw;
      max-height: 875.5px; // for 1920px
    }
  }

  // glow
  &__glow_bottom,
  &__glow_center {
    position: absolute;
  }

  &__glow {
    &_bottom {
      bottom: 0;
      width: 96vw;

      // for 1920px
      max-width: 1843.2px;
      height: 9vw;
      max-height: 172.8px;
    }

    &_center {
      width: 96vw;
      max-width: 1843.2px; // for 1920px
      mix-blend-mode: screen;
    }
  }

  // logo
  &__logo {
    position: absolute;
    left: 50%;
    width: 19.6vw;
    max-width: 376.3px; // for 1920px
    transform: translateX(-50%);
  }

  // edition image
  &__edition-image {
    position: absolute;
    top: 26.27%;
    left: 48.65%;
    width: 39.85vw;
    max-width: 765px; // for 1920px
    transform: translateX(-50%);
  }

  // text
  &__info {
    position: absolute;
    bottom: 7%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: inherit;
    text-align: center;
    transform: translateX(-50%);
  }

  &__caption {
    font-size: min(42px, calc(14px + 1.46vw));
    line-height: min(30px, 1.56vw);

    @media screen and (width <= 700px) {
      text-shadow: 1px 1px 1px black;
    }
  }

  &__text {
    font-size: min(20px, calc(10px + 0.522vw));

    @media screen and (width <= 700px) {
      text-shadow: 1px 1px 1px black;
    }
  }
}
