@import '../../styles/variables.scss';

.spot {
  position: relative;

  &__spot {
    position: absolute;
    border: 1px solid $color-second;
    border-radius: 50%;
    opacity: 0.2;
    filter: blur(100px);
    mix-blend-mode: lighten;
  }

  &__image {
    position: absolute;
  }
}
