@import '../../styles/variables.scss';

.spot {
  position: relative;
  width: 100%;
  height: 100%;

  &__spot {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid $color-second;
    border-radius: 50%;
    opacity: 0.2;
    filter: blur(100px);
    mix-blend-mode: lighten;
  }

  &__image {
    position: absolute;
  }
}
