@import '../../shared/styles/variables.scss';

.set {
  position: relative;
  display: flex;
  background: url('/src/shared/assets/img/background_wall.jpg') no-repeat top center;
  background-size: contain;

  @media screen and (width <= 1200px) {
    flex-direction: column;
  }

  &__animal {
    width: 50%;
    padding-top: 10.6vw;
    padding-left: 12vw;

    @media screen and (width <= 1200px) {
      padding-left: 31vw;
    }
  }

  &__pack {
    width: 50%;
    padding-right: 17.1vw;

    @media screen and (width <= 1200px) {
      width: 100%;
      padding-top: 40vw;
      padding-right: 12vw;
      padding-left: 12vw;
    }

    @media screen and (width <= 700px) {
      width: 100%;
      padding-top: 40vw;
      padding-right: 2vw;
      padding-left: 2vw;
    }

    &-caption {
      margin-top: 3vw;
      color: $color-third;
      font-size: calc(10px + 1.04vw);

      @media screen and (width <= 700px) {
        text-align: center;
      }
    }

    &-buttons {
      display: flex;
      flex: 0.3;
      flex-wrap: wrap;
      gap: 10px 11px;
      justify-content: flex-end;
      margin-top: 2.35vw;
    }

    &-button {
      width: 7.3vw;
      height: auto;
      min-height: 23px;
      font-size: 12px;
      letter-spacing: 0.1px;

      @media screen and (width <= 1200px) {
        width: 18vw;
      }

      @media screen and (width <= 700px) {
        width: 22.2vw;
        font-size: 10px;
      }
    }

    &-table {
      margin-top: 0.45vw;
    }

    &-order {
      position: relative;
      z-index: 10;
      display: flex;
      width: 450px;
      height: 300px;
      margin-top: 21px;
      margin-bottom: 46px;
      margin-left: 3px;

      @media screen and (width <= 1200px) {
        margin: 21px auto 46px;
      }

      @media screen and (width <= 700px) {
        width: 230px;
        margin-bottom: 200px;
      }
    }

    &-glow {
      position: absolute;
      bottom: 0;
      width: 100vw;
    }
  }
}
