@import '../../shared/styles/variables.scss';

.set {
  display: flex;
  height: 55vw;
  background: url('/src/shared/assets/img/background_wall.jpg') no-repeat top center;
  background-size: cover;

  @media screen and (width <= 1200px) {
    flex-direction: column;
  }

  &__animal {
    width: 50%;
    padding-top: 10.6vw;
    padding-left: 12vw;

    @media screen and (width <= 1200px) {
      padding-left: 31vw;
    }
  }

  &__pack {
    width: 50%;
    padding-right: 17.1vw;

    @media screen and (width <= 1200px) {
      width: 100%;
      padding-top: 40vw;
      padding-right: 12vw;
      padding-left: 12vw;
    }

    @media screen and (width <= 700px) {
      width: 100%;
      padding-top: 40vw;
      padding-right: 2vw;
      padding-left: 2vw;
    }

    &-caption {
      margin-top: 3vw;
      color: $color-third;
      font-size: calc(10px + 1.04vw);

      @media screen and (width <= 700px) {
        text-align: center;
      }
    }

    &-buttons {
      display: flex;
      flex: 0.3;
      flex-wrap: wrap;
      gap: 10px 11px;
      justify-content: flex-end;
      margin-top: 2.35vw;
    }

    &-button {
      width: 7.5vw;

      @media screen and (width <= 1200px) {
        width: 18vw;
      }

      @media screen and (width <= 700px) {
        width: 22.2vw;
      }
    }

    &-table {
      margin-top: 0.45vw;
    }
  }
}
