@import './shared/styles/fonts.scss';
@import './shared/styles/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: $color-main;
  font-weight: 400;
  font-size: 14px;
  font-family: $font-main;
  background-color: $background-color;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h1 {
  font-family: $font-second;
}

h2 {
  font-family: $font-second;
}

a {
  width: 100%;
  color: $color-main;
  text-decoration: none;
}

button {
  height: fit-content;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
